
body{

    background:  #202638;
    /*display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    height:10vh;
    font-family: 'Montserrat', sans-serif;
    /*margin: -20px 0 50px;*/
    margin:auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background:linear-gradient(
      315deg,
      rgba(32, 38, 56,1) 3%,
      rgba(111, 165, 161,1) 38%,
      rgba(177, 196, 202,1) 68%,
      rgba(57, 69, 104,1) 98%
      );
      animation: gradient 15s ease infinite;
      background-size:400% 400%;
      background-attachment: fixed;    
  }
  @keyframes gradient{
  0%{
      background-position: 0% 0%;
  } 50%{
      background-position: 100% 100%;
  } 100% {
      background-position: 0% 0%;
  }
  }
  .wave{
  background: rgb(255 255 255 / 25%) ;
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12rem;
  animation: wave 10s -3s linear infinite;
  transform: translate3d( 0, 0, 0);
  opacity: 1;
  bottom:0;
  left:0;
  z-index: -1;
  }
  .wave:nth-of-type(2){
  bottom: -1.25em;
  animation: wave 18s -2s linear reverse infinite;
  opacity: 1;
  }
  .wave:nth-of-type(3){
  bottom:-2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 1;
  }
  @keyframes wave{
  2%{
      transform: translateX(1);
  }25%{
      transform: translateX(-25%);
  }50%{
      transform: translateX(-50%);
  }75%{
      transform: translateX(-25%);
  }100%{
      transform: translateX(1);
  }
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #202638;
    }
  li {
      float: right;
    }
    
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 20px 16px;
      text-decoration: none;
    }
    
  li a:hover {
      background-color: #151925;
    }
  .head{
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      background-color: #202638;
      border-bottom:2px solid #6FA5A1;
      border-radius: 1px;
    }
  .as{
      margin-right: 820px;
    }
  section{
        border: 1px solid #6FA5A1 ;
    }
  img{
    width: 60px;
    margin: 10px;
    padding: 0;
  }
  section{
    margin-top: 25px;
    margin-left: 40%;
    margin-right: 5%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column   ;
  }
  .po{
    display: flex;
    border: 1px solid #6FA5A1;
    float: left;
    margin-top: 25px;
    margin-right: 100%;
    margin-right: 2%;
    padding: 11%;
    background-color: #202638;
  }
  /*img{
    width: 60px;
    margin: 50px;
    padding: 0%;
  }*/
  .des{
    padding: 50px 200px;
  }
  /*div0{
    display: flex;
    flex-direction: column;
  }*/
  .infoPerfil{
    margin-top: 10px;
    border-top: 1px solid red;
    padding-top: 10px;
    
    margin-left: 5%;
    margin-right: 10%;
  }
  #fotonarigon{
    width: 60px;
    margin: 10px;
    padding: 10%;
  }
  .contenedor1{
    max-width: 1000px;
    bottom: 0;
  }
  .row1{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  ul{
    list-style: none;
  }
  input{
    width: 600px;
    height: 20px;
}
select{
    width: 600px;
    height: 30px;
}